<!-- <app-template-driven-forms></app-template-driven-forms>
<app-reactive-driven-form></app-reactive-driven-form> -->

<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">Form</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="template-driven-forms">TDF</a>
            <a class="nav-item nav-link" routerLink="reactive-driven-form">RDF</a>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="template-driven-forms">TDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="reactive-driven-form">RDF</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>